<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingying0.aqachat.mapper.RequestMapper" >
  <resultMap id="BaseResultMap" type="com.qingying0.aqachat.entity.Request" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="send_id" property="sendId" jdbcType="BIGINT" />
    <result column="target_id" property="targetId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from request
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qingying0.aqachat.entity.Request" >
    insert into request (id, send_id, target_id, 
      content, create_time, type, 
      status)
    values (#{id,jdbcType=BIGINT}, #{sendId,jdbcType=BIGINT}, #{targetId,jdbcType=BIGINT}, 
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qingying0.aqachat.entity.Request" >
    update request
    set send_id = #{sendId,jdbcType=BIGINT},
      target_id = #{targetId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, send_id, target_id, content, create_time, type, status
    from request
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, send_id, target_id, content, create_time, type, status
    from request
  </select>
</mapper>