<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingying0.aqachat.mapper.UserSessionMapper">
  <resultMap id="BaseResultMap" type="com.qingying0.aqachat.entity.UserSession">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
    <result column="target_id" jdbcType="BIGINT" property="targetId" />
    <result column="session_id" jdbcType="BIGINT" property="sessionId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="unread_num" jdbcType="INTEGER" property="unreadNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_muted" jdbcType="BIT" property="isMuted" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_session
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qingying0.aqachat.entity.UserSession">
    insert into user_session (id, owner_id, target_id,
      session_id, nickname, create_time,
      update_time, unread_num, status,
      is_muted)
    values (#{id,jdbcType=BIGINT}, #{ownerId,jdbcType=BIGINT}, #{targetId,jdbcType=BIGINT},
      #{sessionId,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{unreadNum,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{isMuted,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qingying0.aqachat.entity.UserSession">
    update user_session
    set owner_id = #{ownerId,jdbcType=BIGINT},
      target_id = #{targetId,jdbcType=BIGINT},
      session_id = #{sessionId,jdbcType=BIGINT},
      nickname = #{nickname,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      unread_num = #{unreadNum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_muted = #{isMuted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, owner_id, target_id, session_id, nickname, create_time, update_time, unread_num,
    status, is_muted
    from user_session
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, owner_id, target_id, session_id, nickname, create_time, update_time, unread_num,
    status, is_muted
    from user_session
  </select>
</mapper>
