<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingying0.aqachat.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.qingying0.aqachat.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="qrcode" jdbcType="VARCHAR" property="qrcode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="push_id" jdbcType="VARCHAR" property="pushId" />
    <result column="sex" jdbcType="BIT" property="sex" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qingying0.aqachat.entity.User">
    insert into user (id, username, password,
      phone, create_time, update_time,
      description, qrcode, status,
      avatar_url, salt, push_id,
      sex)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{description,jdbcType=VARCHAR}, #{qrcode,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{avatarUrl,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{pushId,jdbcType=VARCHAR},
      #{sex,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qingying0.aqachat.entity.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      qrcode = #{qrcode,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      push_id = #{pushId,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, username, password, phone, create_time, update_time, description, qrcode,
    status, avatar_url, salt, push_id, sex
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, password, phone, create_time, update_time, description, qrcode,
    status, avatar_url, salt, push_id, sex
    from user
  </select>
  <select id="selectByPhone" resultMap="BaseResultMap">
    select id, username, password, phone, create_time, update_time, description, qrcode,
    status, avatar_url, salt, push_id, sex
    from user
    where phone = #{phone}
  </select>
</mapper>
